$range-height: 15px;
$range-background-color: rgba(255, 255, 255, 0.1);
$range-border-color: rgba(255, 255, 255, 0.1);
$range-fill-color: rgba(255, 255, 255, 0.8);
$range-thumb-color: rgba(255, 255, 255, 0.9);

$range-border-radius: 4px;

input[type='range'] {
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  background-color: $range-background-color;
  border: 1px solid $range-border-color;
  border-radius: $range-border-radius;

  &::-webkit-slider-runnable-track {
    height: $range-height;
    -webkit-appearance: none;
    cursor: ew-resize;
  }

  &::-webkit-slider-thumb {
    width: 1px;
    height: $range-height;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: $range-thumb-color;
    box-shadow: -1000px 0 0 1000px $range-fill-color;
  }
  &:focus,
  &:hover {
    outline: 0;
  }
}
