/* class applies to select element itself, not a wrapper element */

.select {
  display: block;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 5px;
  margin-bottom: 0px;
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    right: 10px;
    content: '▾';
    z-index: 0;
  }
  &.big {
    height: 40px;
    line-height: 40px;
  }
}

select {
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  padding-right: 25px;
  width: 100%;
  background: transparent;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
/* Hide arrow icon in IE browsers */
select::-ms-expand {
  display: none;
}
/* Hover style */
select:hover {
  border-color: #888;
}
/* Focus style */
select:focus {
  border-color: #aaa;
  color: white;
  outline: none;
}

/* Set options to normal weight */
select option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir='rtl'] select,
:root:lang(ar) select,
:root:lang(iw) select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

select:disabled:hover,
select[aria-disabled='true'] {
  border-color: #aaa;
}
