.audio-visualizer {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  background-color: $visualizer-color;
  margin-right: 10px;
  canvas {
    margin: 0 5px;
    padding: 5px 0;
    margin-bottom: -4px;
  }
}

.audio-visualizer__wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
}

.audio-visualizer__title {
}
