.card {
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: $cardBackgroundColor;
  padding: 15px;
  & > hr {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }
  margin: 0.5em 0.5em;
  border-radius: 3px;
  position: relative;
}

.card--reverse {
  // background: rgba(255, 255, 255, 0.1);
  color: white;
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  animation-duration: 0.5s;
  animation-name: borderFlash;
}

@keyframes borderFlash {
  from {
    border-left: 2px solid rgba(255, 255, 255, 1);
  }

  to {
    border-left: 2px solid rgba(255, 255, 255, 0.4);
  }
}

.card-title {
  font-weight: 500;
}

.card__header {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  :last-child {
    margin-left: auto;
  }
}

.card__header__title {
  font-size: 12px;
  line-height: 12px;
  span {
    opacity: 0.5;
  }
}

.card--without-border {
  border: 1px solid transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  background: transparent;
  hr {
    background: transparent;
  }
}
