.state-controller__states {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  .button-group {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.state-controller__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
}
