.pixels {
  width: 100%;
  height: auto;
  display: flex;
}

.strip-controller {
  width: 100%;
}

.strip-block {
  display: block;
  /* Card margin * 2 */
  padding-bottom: 0;
  position: relative;
}

.strip-block h6 {
  display: block;
  width: 100%;
}

.strip:last-child {
  margin-bottom: 0;
}

.pixels__elem {
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 1px;
  margin-bottom: 15px;
  flex-basis: 100%;
}

.pixels__elem--space {
  margin-left: 15px;
}

.pixels__elem--breakline {
  clear: both;
}

.strip__color {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #000;
  margin-right: 5px;
}

.strip__label {
  opacity: 0.4;
}

.strip__label:not(:first-child) {
  margin-left: 20px;
}

.strip-controller-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.strip-controller__title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 10px;
  text-align: center;
}

.button.midi {
}

.button.audio {
}

.button.time {
}

.button.generic {
}

.strip-controller__button {
  position: relative;
  padding-left: 25px;
  &--with-gap {
    margin-right: 20px;
  }
  &.active {
    background: white;
    color: black;
  }
}

.strip-controller__button__type {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  border-bottom-right-radius: 3px;
  font-size: 6px;
  line-height: 6px;
  padding: 5px;
}
