@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf')
    format('ttf');
}
