.left-panel {
  position: fixed;
  left: 0;
  height: $pageHeight;
  width: $leftPanelWidth;
  background: transparent;
  // border-right: 1px solid lighten($backgroundColor, 8%);
  padding-top: 0 !important;
  padding: 0 40px 0 20px;
  z-index: $leftPanelZIndex;
  overflow: scroll;
  .strip-item {
    margin: 0 -20px;
  }
  .title {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    margin-left: -13px;
  }
  &:before {
    content: '';
    background: lighten($backgroundColor, 3%);
    border-right: 1px solid lighten($backgroundColor, 8%);
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 0;
    height: 100%;
    width: 250px;
  }
  &:after {
    content: '';
    position: fixed;
    right: -26px;
    top: 0;
    height: 100%;
    width: 6px;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    opacity: 0.1;
  }
  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    height: 0;
  }
}

.left-panel__list {
  &--audio .left-panel__list__item {
    display: flex;
    canvas {
      margin-bottom: 0;
    }
  }
  &--strip .left-panel__list__item {
    cursor: pointer;
    .state-controller__title {
      margin-top: 10px;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
$triangleSize: 12px;

.left-panel__list.left-panel__list--strip .left-panel__list__item {
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px;
  padding-bottom: 10px;
  position: relative;
  background: darken($leftNavActiveBackground, 2%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);

  &:first-of-type {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
  }
  &:not(.left-panel__list__item--active):hover {
    background: darken($leftNavActiveBackground, 1%);
  }
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }
  canvas {
    display: block;
    margin-bottom: 10px;
  }
  &:before {
    content: '';
    position: absolute;
    right: 2px;
    top: $triangleSize / 2;
    width: $triangleSize;
    height: $triangleSize;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(-135deg);
    border-radius: 0 0 0 0.15em;
    background: $leftNavActiveBackground;
    border: 1px solid lighten($leftNavActiveBackground, 3%);
    z-index: -1;
  }
}

.left-panel__list.left-panel__list--strip .left-panel__list__item--active {
  position: relative;
  background: $leftNavActiveBackground;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  &:first-of-type {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
  }
  &:before {
    right: -$triangleSize / 2;
  }
}

.left-panel__list__item__header {
  display: flex;
  margin: 0 2px;
}

.left-panel__list__item__header__title {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  height: 12px;
  line-height: 12px;
  width: 70%;
  margin-bottom: 10px;
  span {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
  }
}

.left-panel__list__item__header__sub-title {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  height: 10px;
  line-height: 10px;
  width: 100%;
  margin: 0 2px;
  margin-top: -5px;
  margin-bottom: 10px;
  display: none;
  span {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
  }
}

.left-panel__list__item--active .left-panel__list__item__header__sub-title {
  display: block;
}

.left-panel__list__item__live-view {
  margin-bottom: 10px !important;
}

.left-panel__list__item {
  //background: rgba(255, 255, 255, 0.03);
}

.left-panel__list__item--active {
  //background: rgba(255, 255, 255, 0.1);
}

.left-panel__list--audio {
  display: flex;
  margin: 0;
  margin-left: -10px;
  .online-notifier {
    display: none;
  }
  .audio-visualizer {
    width: 110px;
    margin-right: 0;
  }
  .left-panel__list__item {
    flex-direction: column;
    flex-grow: 1;
    padding: 0px;
    &:first-child {
      margin-right: 10px;
    }
  }
  .left-panel__list__item__content {
  }

  .left-panel__list__item__header {
  }
}
