.left-panel {
  position: fixed;
  left: 0;
  height: $pageHeight;
  width: $leftPanelWidth;
  overflow-x: hidden;
  background: lighten($backgroundColor, 3%);
  border-right: 1px solid lighten($backgroundColor, 8%);
  padding-top: 0 !important;
  .strip-item {
    margin: 0 -20px;
  }
  .title {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    margin-left: -13px;
  }
}

.left-panel__list {
  &--audio .left-panel__list__item {
    display: flex;
    .audio-visualizer {
      // background: rgba(white, 0.1);
    }
    canvas {
      margin-bottom: 0;
    }
  }
  &--strip .left-panel__list__item {
    cursor: pointer;
    padding-bottom: 20px !important;
    .state-controller__title {
      margin-top: 10px;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.left-panel__list__item {
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 10px;
  padding: 10px;
  &:not(:last-child) {
    margin-bottom: 5px !important;
  }
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }
  canvas {
    display: block;
  }
}

.left-panel__list__item__header {
  display: flex;
}

.left-panel__list__item__header__title {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  height: 12px;
  line-height: 12px;
  width: 70%;
  margin-bottom: 10px;
  span {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
  }
}

.left-panel__list__item__header__sub-title {
}

.left-panel__list__item__live-view {
  padding-top: 10px;
}

.left-panel__list__item {
  background: rgba(255, 255, 255, 0.03);
}

.left-panel__list__item--active {
  background: rgba(255, 255, 255, 0.1);
}

.left-panel__list--audio .left-panel__list__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.left-panel__list--audio {
  .left-panel__list__item__content {
    display: flex;
    flex-direction: row;
    & > div > span {
      display: block;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 2px;
      color: rgba(255, 255, 255, 1);
      span {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .audio-visualizer {
    width: 100px;
  }
}
