$primary-color: #061b28;
$primary-color-darken-1: #04131d;
$primary-color-lighten-1: lighten($primary-color, 15%);

$backgroundColor: lighten(#04131d, 4%);
$textColor: rgba(255, 255, 255, 0.7);
$cardBackgroundColor: #061b28;

@import 'const/_font.scss';
@import 'const/_normalize.scss';
@import 'const/line-awesome.scss';

* {
  box-sizing: border-box;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.11);
  margin-right: 5px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.1);
}

html,
body,
.screen-size,
#app,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  color: white;
  user-select: none;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 25px;
  height: calc(100% - 105px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  & > div {
    padding: 20px;
    padding-bottom: 0;
    & > .card {
      &.card {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  animation: appear 0.5s linear;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flex-center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.slider-holder {
  width: calc(25%);
  display: inline-block;
  &:not(:last-child) {
    padding-right: 10px;
  }
  label {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 12px;
    span {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

button {
  margin-right: 5px;
  margin-bottom: 5px;
  display: block;
}

input[type='range'] {
  width: 100%;
  display: block;
}

.title {
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  .la {
    font-size: 1.4em;
  }
}

.title span {
  color: rgba(255, 255, 255, 0.4);
  margin-left: 5px;
  margin-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  font-family: 'Roboto Condensed';
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
}

#strip-holder > div {
  display: block;
}

.software-version {
  color: rgba(255, 255, 255, 0.15);
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  margin-left: auto;
}

.builder-column-holder {
  display: flex;
  flex-direction: row;
  & > div:first-child {
    width: 25%;
  }
  & > div:last-child {
    width: 75%;
  }
}

hr {
  width: 100%;
  height: 1px;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  margin: 15px 0;
  border: 0;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba($backgroundColor, 0.1);
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

@import 'components/_nav.scss';
@import 'components/_input.scss';
@import 'components/_midi-logs.scss';
@import 'components/_draggable-bar.scss';
@import 'components/_card.scss';
@import 'components/_strip.scss';
@import 'components/_strip-visualizer.scss';
@import 'components/_loading.scss';
@import 'components/_splash-screen.scss';
@import 'components/_range.scss';
@import 'components/_button.scss';
@import 'components/_select.scss';
@import 'components/_online-notifier.scss';
@import 'components/_strip-controller.scss';
@import 'components/_audio-visualizer.scss';
@import 'components/_sceno-visualizer.scss';
@import 'components/_state-controller.scss';
