$primary-color: #061b28;
$primary-color-darken-1: darken($primary-color, 5%);
$primary-color-lighten-1: lighten($primary-color, 15%);

$backgroundColor: lighten($primary-color-darken-1, 4%);
$textColor: rgba(255, 255, 255, 0.7);
$cardBackgroundColor: lighten($primary-color, 4%);

$topBarHeight: 22px;
$bottomBarHeight: 80px;

$leftPanelWidth: 250px;

$pageHeight: calc(100% - #{$topBarHeight + $bottomBarHeight});

@import 'const/_font.scss';
@import 'const/_normalize.scss';
@import 'const/line-awesome.scss';

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.11);
  margin-right: 5px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.1);
}

html,
body,
.screen-size,
#app,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: $backgroundColor;
  user-select: none;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.flex-center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-holder {
  width: calc(25% - 5px);
  display: inline-block;
  &:not(:last-child) {
    padding-right: 10px;
  }
  label {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 12px;
    span {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

button {
  margin-right: 5px;
  margin-bottom: 5px;
  display: block;
}

input[type='range'] {
  width: 100%;
  display: block;
}

.title {
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  .la {
    font-size: 1.4em;
  }
}

.title span {
  color: rgba(255, 255, 255, 0.4);
  margin-left: 5px;
  margin-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  // font-family: 'Roboto Condensed';
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
}

#strip-holder > div {
  display: block;
}

.builder-column-holder {
  display: flex;
  flex-direction: row;
  & > div:first-child {
    width: 25%;
  }
  & > div:last-child {
    width: 75%;
  }
}

hr {
  width: 100%;
  height: 1px;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  margin: 15px 0;
  border: 0;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba($backgroundColor, 0.1);
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

@import 'components/generic/input-range/_input-range.scss';
@import 'components/generic/_input-file.scss';
@import 'components/generic/_pop-over.scss';
@import 'components/generic/_input.scss';
@import 'components/generic/_color-picker.scss';
@import 'components/generic/_color-scheme.scss';
@import 'components/generic/_circular-slider.scss';
@import 'components/generic/_card.scss';
@import 'components/generic/_range.scss';
@import 'components/generic/_button.scss';
@import 'components/generic/_select.scss';
@import 'components/generic/_loading.scss';
@import 'components/generic/_splash-screen.scss';

@import 'components/strip/_midi-logs.scss';
@import 'components/strip/_strip.scss';
@import 'components/strip/_strip-visualizer.scss';
@import 'components/strip/_online-notifier.scss';
@import 'components/strip/_strip-controller.scss';
@import 'components/strip/_state-controller.scss';

@import 'components/scene/_sceno-visualizer.scss';

@import 'components/audio/_audio-visualizer.scss';

@import 'components/layout/_nav.scss';
@import 'components/layout/_left-panel.scss';
@import 'components/layout/_draggable-bar.scss';
@import 'components/layout/_page.scss';
@import 'components/layout/_config-loader.scss';
