.strip-controller {
  width: 100%;
  position: relative;
  & > hr {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }
  .select {
    margin-bottom: 5px;
  }
}

.strip-block {
  display: block;
  /* Card margin * 2 */
  padding-bottom: 0;
  position: relative;
}

.strip-block h6 {
  display: block;
  width: 100%;
}

.strip:last-child {
  margin-bottom: 0;
}

.strip-controller-group {
  display: flex;
  flex-direction: column;
}

.strip-controller-group__item--effect {
  width: 100%;
  display: flex;
  padding-right: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  .strip-controller__button {
    flex-grow: 1;
    height: 45px;
    margin-bottom: 10px;
  }
  .strip-controller__title {
    margin-right: 20px;
    line-height: 45px;
  }
}

@media (min-width: 1000px) {
  .strip-controller-group {
    display: flex;
    flex-direction: row;
  }

  .strip-controller-group__item--effect {
    width: 50%;
    padding-right: 0px;
    margin-right: 20px;
    flex-wrap: wrap;
    .strip-controller__button {
      flex-grow: 1;
    }
    .strip-controller__title {
    }
  }
}

.strip-controller-group__item--modifiers {
  width: 100%;
}

.strip-controller-group__item--sub-group {
  .button,
  .select {
    flex-grow: 1;
    height: 45px;
  }
}

.strip-controller__sub-card--disabled {
  position: relative;
  opacity: 0.3;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.strip-controller__name {
  margin-bottom: 10px;
}

.strip-controller__title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 10px;
  color: lighten($primary-color, 10%);
  text-shadow: 0.5px 0.5px 0px lighten($primary-color, 20%);
}

.button.midi {
}

.button.audio {
}

.button.time {
}

.button.generic {
}

.strip-controller__audio-block {
  display: flex;
  .slider-holder {
    width: calc(33%);
  }
  .select {
    margin-right: 0;
  }
}

.strip-controller__audio-block__audio-vizualiser {
  width: 125px;
  margin-right: 10px;
  display: inline-block;
  .audio-visualizer {
    margin-right: 0;
  }
}

.strip-controller__audio-block__others {
  width: calc(100% - 125px);
  display: inline-block;
}
